@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Noto+Sans:ital@1&family=Poppins:wght@300;400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden; 
}

.Title-Image{
    width: 100vw;
    position: static;
    z-index: 0;
}
.netflixlogo {
    height: 20px;
    z-index: 1;
}
.header {
    background-image: url(./assets/Title-Image.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.leftheader {
    display: flex;
    z-index: 3;
    color: white;
    padding: 20px 25px 20px 63px;
    justify-content: space-evenly;
    width: 600px;
    font-weight: bolder;
    font-size: 15px;
}
.rightheader {
    display: flex;
    z-index: 1;
    color: white;
    height: 15px;
    padding-left: 900px;
    padding-top: 20px;
    justify-content: space-evenly;
    width: 290px;
}
.Netflix_Symbol_RGB{
    position: absolute;
    top: 55%;
    left: 4%;
    z-index: 3;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100px;
    color: white;
    letter-spacing: 5px;
    
}
.icon {
    height: 30px;
}
.maid {
    font-size: 100px;
    z-index: 1;
    color: white;
    position: absolute;
    top: 68%;
    left: 4%;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttondiv{
    position: absolute;
    top: 85%;
    left: 4%;
    font-size: 12px;
    justify-content: space-around;
}
.leftheader > p{
    padding-left:16px;
}
.Play {
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    justify-content: center;
    width: 60px;
    height: 28px;
}
.Moreinfo{
    background-color: lightslategrey;
    color: white;
    border: none;
    border-radius: 6px;
    /* justify-content: center; */
    width: 100px;
    height: 28px;
    text-align: start;
    margin-left: 20px;
}
.blackcolor{
    background-color: black;
}
.flex-container {
    display: flex;
}
.addimg {
    position: absolute;
    top: 90%;
    color: white;
    right: 1%;
}
.textline{
    background-color: black;
    color: white;
    display: flex;
    /* position: absolute; */
    width: 100vw;
    height: 90px;
    font-size: 20px;
    padding-top: 30px;
}
.Seconddiv{
    background-color: black;
    width: 100vw;
    height: 550px;
    position: relative;
    margin-top: 270px;
}
.paddingleft {
    padding-left: 40px;
}
span {
    font-weight: 700;
    font-size: larger;
    padding-left: 5px;
}
.ArrowRight {
    height: 20px;
}
.imagecontainer {
    width: 70vw;
}
.ranks{
    /* width: 90vw; */
    height: 500px;
}
.ranks > img {
    display: inline-block;
    /* width: 50vw; */
}
#lastranks{
    position: absolute;
    left: 8%;
    top: 100%;
    display: flex;
    margin-top: 400px;
}
.socialmedia{
    display: flex;
    background-color: antiquewhite;
    margin-left: 350px;
    justify-content: space-evenly;
    width: 160px;
    height: 28px;
    justify-content: space-evenly;
}
footer {
    background-color: black;
    color: antiquewhite;
    font-size: small;   
    height: 200px;
    width: 80vw;
    position: relative;
    margin-top: 330px;
}
.footertext{
    display: flex;
    justify-content: space-evenly;
    padding-left: 237px;
}
.footer-container1,.footer-container2,.footer-container3,.footer-container4{
    display: inline;
    line-height: 22px;
    font-weight: 100;
}
.footerbtn,.footerpar{
    margin-left: 350px;
}
.footerbtn{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    ;
    height: 22px;
    font-size: smaller;
    border: 1px solid antiquewhite;
}
.footerpar{
    position: absolute;
    bottom: 1%;
}